body{
 background-color: #EDEAE5;
}
h1{
 font-size: 40px;
}
h2{
 font-size: 30px;
}
p{
 font-family: Arial, Helvetica, sans-serif;
}
ol{
 font-family: Arial, Helvetica, sans-serif;
}
ul{
 list-style-type: square;
 font-family: Arial, Helvetica, sans-serif;
}
table, th, td {
 border: 1px solid;
 height: 40px;
 width: 20%;
 font-family: Arial, Helvetica, sans-serif;
}
th{
 height: 40px;
 text-align: center;
}
input[type=text] {
  width: 15%;
  padding: 10px 15px;
  margin: 10px 0;
  box-sizing: border-box;
}
input[type=email] {
  width: 15%;
  padding: 10px 15px;
  margin: 10px 0;
  box-sizing: border-box;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #026670;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
textarea{
 width: 30%;
  height: 150px;
  padding: 16px 20px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.button{
 color: #026670;
 padding: 14px 25px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
}
.button:link, .button:visited{
  background-color: #026560;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.button:hover, .button:active{
 background:color: #026670;
}
