body{
 background-color: #d6d4d4;
 font-family: Arial, Helvetica, sans-serif;
 margin: 10px 15px 10px 15px;
}

h1{
 font-size: 40px;
 border: 1px solid #026560;
 background-color: #026560;
 padding: 20px;
 color: white;
}

h2{
 font-size: 30px;
 color
 :#026670;
}

#lb, #pi{
  color:#026670;
}

ul{
 list-style-type: square;
}

table, th, td {
 height: 50px;
 width: 30%;
 border: 1px solid #026670;
}

th{
 height: 40px;
 text-align: center;
}

input[type=text] {
  width: 15%;
  padding: 10px 15px;
  margin: 10px 0;
  box-sizing: border-box;
}

input[type=email] {
  width: 15%;
  padding: 10px 15px;
  margin: 10px 0;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #026670;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

textarea{
  width: 35%;
  height: 150px;
  padding: 16px 20px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.button{
 color: #026670;
 padding: 14px 25px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
}

.button:link, .button:visited{
  background-color: #026670;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover, .button:active{
 background-color: #012c30;
}

#tsp{
  text-align: left;
  background-color: #026670;
  color: white;
  text-align: center;
}

#school{
  padding-left: 25px;
}

.bot{
  padding-top: 30px;
}